/aclocal.m4
/autom4te.cache/
/autoscan.log
/compile
/config.*
/configure.scan
/depcomp
/.deps/
/jumble
/jumble.plist/
/jumble.t2t
/xword
/xword.plist/
/xword.t2t
/install-sh
/Makefile
/Makefile.in
/missing
/stamp-h1
/test*
/authors.other
